.playground {
  height: 97vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 9px;
}

.editor-container {
  padding: 9px;
  border: 1px solid black;
  overflow-y: scroll;
}

.editor-toolbar {
  position: fixed;
  z-index: 1;
}

.mobiledoc-editor {
  padding-top: 1px;
}

.output-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 36px auto;
}

.output-type-button-bar  {
  padding: 9px 0;
}

.output-type-button {
  border: none;
  border-right: 1px solid;
}

.output-type-button:last-of-type {
  border: none;
}

.output-contents  {
  padding: 9px;
  border: 1px solid black;
  overflow-y: scroll;
}
