{{#mobiledoc-editor
  mobiledoc=mobiledoc
  cards=cards
  on-change=onMobiledocUpdated
  as |editor|}}

  <div local-class="editor-toolbar">
    {{#mobiledoc-section-button editor=editor for="h1"}}
      Heading
    {{/mobiledoc-section-button}}
    {{#mobiledoc-section-button editor=editor for="h2"}}
      Subheading
    {{/mobiledoc-section-button}}
    {{#mobiledoc-section-button editor=editor for="blockquote"}}
      Blockquote
    {{/mobiledoc-section-button}}
    {{#mobiledoc-section-button editor=editor for="ul"}}
      Unordered List
    {{/mobiledoc-section-button}}
    {{#mobiledoc-section-button editor=editor for="ol"}}
      Ordered List
    {{/mobiledoc-section-button}}
    {{#mobiledoc-playground/cards/code-block/button editor=editor}}
      Code Block
    {{/mobiledoc-playground/cards/code-block/button}}
  </div>

{{/mobiledoc-editor}}
