<div local-class="playground-container">
  <div local-class="editor-container">
    {{mobiledoc-playground/editor
      mobiledoc=mobiledoc
      onMobiledocUpdated=(action 'updateMobiledoc')
    }}
  </div>
  <div local-class="output-container">
    {{mobiledoc-playground/output
      mobiledoc=mobiledoc
    }}
  </div>
</div>
