<div class="playground">
  <div class="editor-container">
    {{mobiledoc-playground/editor
      mobiledoc=mobiledoc
    }}
  </div>
  <div class="output-container">
    {{mobiledoc-playground/output
      mobiledoc=mobiledoc
    }}
  </div>
</div>
