<div class="playground">
  <div class="editor">
    {{#mobiledoc-editor
      mobiledoc=mobiledocExample
      did-create-editor=(action 'mobiledocEditorWasCreated')
      on-change=(action 'mobiledocWasUpdated')
      as |editor|}}
      {{#if textSelected}}
        {{#tether-to-selection}}
          <div>
            {{#mobiledoc-markup-button editor=editor for="b"}}
              Bold
            {{/mobiledoc-markup-button}}
            {{#mobiledoc-markup-button editor=editor for="em"}}
              Italic
            {{/mobiledoc-markup-button}}
            {{mobiledoc-link-button editor=editor}}
          </div>
        {{/tether-to-selection}}
      {{/if}}

      {{#mobiledoc-section-button editor=editor for="h1"}}
        Heading
      {{/mobiledoc-section-button}}
      {{#mobiledoc-section-button editor=editor for="h2"}}
        Subheading
      {{/mobiledoc-section-button}}
      {{#mobiledoc-section-button editor=editor for="blockquote"}}
        Blockquote
      {{/mobiledoc-section-button}}
      {{#mobiledoc-section-button editor=editor for="ul"}}
        Unordered List
      {{/mobiledoc-section-button}}
      {{#mobiledoc-section-button editor=editor for="ol"}}
        Ordered List
      {{/mobiledoc-section-button}}
    {{/mobiledoc-editor}}
  </div>

  <div class="rendered-output">
    <div class="output">
      <h1>Raw</h1>
      {{as-json mobiledocExample}}
    </div>

    <div class="output">
      <h1>Dom</h1>
      {{#if mobiledocExample}}
        {{render-mobiledoc mobiledoc=mobiledocExample}}
      {{/if}}
    </div>

    <div class="output">
      <h1>Text</h1>
      {{mobiledocExampleInText}}
    </div>
  </div>
</div>
